*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}  

.cardDetails{
  max-height: 50%;
  width: 80%;
  border-radius: 50rem;
}

.Button {
  background: linear-gradient(-45deg, #53D6FF, #666BE1, #E45372, #F07C63);
  background-size: 400% !important;
  -webkit-animation: Gradient 10s ease infinite !important;
  -moz-animation: Gradient 10s ease infinite !important;
  animation: Gradient 10s ease infinite !important;
}

@keyframes Gradient { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}